h1 {
    background-color: black;
    color: aqua
}

h2 {
    background-color: darkslateblue;
    text-align: center;
}

h3 {
    background-color: deepskyblue;
    text-align: end;
}

span {
    color: white;
}
